/* style globale */

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}


/* main header */

#main-header{
    padding: 15px 0 0 0;
    background-color: rgb(153, 177, 221);
    height: 220px;
}

h1{
    font-size: 64px;
    color: white;
}

h2{
    font-size: 36px;
    color: rgb(4, 4, 128);
    margin: 30px 0 0 0;
}

/* menu nav */

#main-nav {
    background-color: rgb(161, 99, 112);
    padding: 15px 0 15px 0;
}

#main-nav ul > li {
    display: inline-block;
}

#main-nav ul {
    padding: 0;
}

#main-nav li > a, 
#main-nav li > a:active,
#main-nav li > a:visited,
#main-nav li > a:focus{
    color:white;
    text-decoration: none;
    padding: 0 10px;
    font-size: 24px;
}

#main-nav li > a:hover{
        color: black;
        text-decoration: underline;
}



/*Page accueil - section 1 */

h4{
    font-size: 18px;
}

.titre{
    color: black;
    line-height: 0;
}


.float1{
    height: 505px;
    background-color: rgb(184, 184, 184);
    width: 70%;
    padding: 15px 15px 15px 25px;
    float: left;
}

.liresuite{
    text-align: right;
    text-decoration: underline;
}


aside > ul > li > ul,
aside > ul > li > ul > li > ul  {
    list-style-type: none;
    padding-left: 20px; 
}


aside{
    display: inline-block;
    font-weight: bold;
    background-color: rgb(175, 88, 88);
    width: 320px;
    height: 535px;
}

aside > ul{
    color: white;
    font-size: 18px;
    list-style-type: none;
    padding: 0 0 0 15px;
    margin: 0;
}

.categories{
    font-size: 24px;
    text-align: center;
    background-color: white;
    padding: 20px 10px 10px 10px;
    margin: 0;
}


.float2{
    padding: 0;
    float: right;
    margin-left: 15px;
}


.item{
    margin: 20px 0 0 0;
}


/* Page accueil - section 2 */

.float3{
    background-color: rgb(184, 184, 184);
    float: left;
    height: 320px;
    width: 320px;
    margin: 20px 0 0 0;
}

.float4{
    background-color: rgb(184, 184, 184);
    float: left;
    margin: 20px 0 0 20px;
    height: 260px;
    width: 570px;
}

.float5{
    background-color: rgb(184, 184, 184);
    float: left;
    height: 320px;
    width: 320px;
    margin: 20px 0 0 20px;
}

.h5 {
    text-align: center;
    font-size: 18px;
}

.margin-p{
    margin: 0 0 0 15px;
}


/*footer*/

#main-footer222{
    padding: 70px 0 0 0;
}

.footer-p222 {    
    background-color: rgb(128, 128, 128);
    padding: 50px 0 50px 0;
    margin: 0;
}

#main-footer{
    position: fixed;
    margin: 100px 0 0 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(128, 128, 128);
    padding: 30px 0 30px 0;
}


/* page nos pokémon */



.float6{
    float: left;
}

.article-pika{
    background-color: rgb(184, 184, 184);
    width: 860px;
    padding: 10px 30px 30px 30px;
}

.margin-h4{
    margin: 45px 0 20px 0;
}

.margin-e {
    margin: 30px 0 0 20px;
}


/* classe utile */

main {
    margin: 0 0 500px 0;
}



.wrapper{
    margin: 0 auto;
    width: 1250px;
}

.pad1{
    padding: 50px 0 20px 0;
}


.clear{
    clear: both;
}

.center {
    text-align: center;
}


.inline{
    line-height: 0;
}

.fontsize14{
    font-size: 14px;
}
